@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Roboto'; */
}

.sidebar {
    position: fixed;
    left: -2;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;

}

.sidebar ul .manage-item-menu {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 300px);
}

.search-box {
    position: absolute;
    right: 70px;
    top: 40px;
    /* display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; */
}

.search-box input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.danh-sach-don-hang {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.chi-tiet-don-hang {
    display: none;
    margin-top: 20px;
}